*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  width: auto;
} */

nav {
  display: flex;
  background-color: #ffc017;
  padding-inline: 150px;
  /* margin: 0 64px; */
  justify-content: space-between;
  padding-block: 6px;
  border-bottom: 1px solid #201d15;
  align-items: center;
}

nav img {
  width: 150px;
  padding-block: 15px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  font-family: "Spectral", serif;
}

li {
  list-style-type: none;
  font-weight: 400;
  margin-inline: 10px;
  cursor: pointer;
}

nav div button {
  background-color: black;
  color: white;
  padding-inline: 10px;
  margin-inline: 10px;
  font-family: "Spectral", serif;
  cursor: pointer;
}
.section1 {
  display: flex;
}

.title-header {
  background-color: #ffc017;
  border-bottom: 1px solid #3d3727;
  padding-inline-start: 150px;
  padding-block: 50px;
  width: 50%;
}

.svg {
  width: 50%;
  background-color: #ffc017;
  border-bottom: 1px solid #3d3727;
  position: relative;
}
.section1 h2 {
  font-size: 3.8rem;
  font-family: "Spectral", serif;
  font-weight: 400;
  color: #000000;
  letter-spacing: -2px;
  padding-block-end: 15px;
}

.section1 p {
  color: #242424;
  font-family: "Spectral", serif;
  padding-block-end: 15px;
  font-size: 1.1rem;
}

.section1 button {
  background-color: black;
  color: white;
  border-radius: 20px;
  font-family: "Spectral", serif;
  padding-inline: 30px;
  padding-block: 5px;
  margin-block-start: 6px;
  cursor: pointer;
}

.conteiner-trend {
  padding-inline-start: 150px;
  font-family: "Roboto", sans-serif;
}

.trend {
  display: flex;
  align-items: center;
  margin-block-start: 30px;
  margin-block-end: 12px;
}

.trend h2 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-inline-start: 10px;
}

.all-trend {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.trend-card {
  display: flex;
  flex-basis: 30%;
  margin-block-end: 35px;
  padding-inline-end: 30px;
}

.trend-card h4 {
  font-size: 1.4rem;
  color: #cccccc;
  font-weight: bold;
  padding-inline-end: 15px;
}
.trend-post {
  display: flex;
  flex-direction: column;
}

.post-user {
  display: flex;
  align-items: center;
}

.post-user img {
  border-radius: 50%;
  height: 15px;
}

.post-user span {
  font-size: 0.8rem;
  font-weight: 400;
  padding-inline-start: 10px;
}

.trend-post h3 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-block: 8px;
}

.trend-post p {
  font-size: 0.7rem;
  color: #918f8f;
}

.trend-post p img {
  vertical-align: middle;
}
